article.catalog {
  padding: 68px 0 72px;
}

article.catalog h2 {
  margin-bottom: 23px;
}

article.catalog .items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

article.catalog .item {
  width: 285px;
  padding: 26px 18px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.catalog .item:not(:nth-child(5)) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.catalog .item:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

article.catalog .item .wrap-img {
  width: 180px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto 53px;
}

article.catalog .item .wrap-img img {
  padding: 0;
}

article.catalog .item h4 {
  text-align: center;
  color: #151515;
  height: 82px;
}

article.catalog .item .sale {
  margin-bottom: 23px;
  text-align: center;
  font-family: 'WhitneyBlack', sans-serif;
  font-size: 20px;
  padding: 10px 0;
  background: black;
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin-left: auto;
  margin-right: auto;
  width: 89%;
}

article.catalog .item .sale p {
  color: white;
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg);
}

article.catalog .item .sale p span:first-child {
  margin-right: 20px;
}

article.catalog .item .sale p span:last-child {
  font-family: 'WhitneyBook', sans-serif;
  font-size: 16.52px;
}

article.catalog .item .text {
  text-align: center;
  font-family: 'WhitneyLight', sans-serif;
  font-size: 17px;
  margin-bottom: 32px;
}

article.catalog .item button {
  margin-top: auto;
}

@media screen and (max-width: 992px) {
  article.catalog {
    padding: 50px 0;
  }
  article.catalog h2 {
    text-align: center;
  }
}
